body{
  background-color: #ffffff;
  margin: 10px;
  max-width: 750px;
  /*user-select: none;*/
}
.text{
  font-size: 16px;
  text-align: justify-all;
}
.image-question{
  width: 100%;
  height: 100%;
  display: block;
  margin-bottom: 12px;
  border: 1px solid black;
}
.question{
  width: 100%;
  height: 40px;
  margin-bottom: 12px;
  display: block;
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
  vertical-align: center;
}
.custom-button{
  background-color: #ddd;
  width: 100%;
  height: 16px;
  margin-bottom: 2px;
  border: none;
  border-radius: 4px;
  text-align: center;
  vertical-align: center;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
}
.custom-button:hover{
  background-color: #6d6d6d;
}
.currentQuestion-btn{
  background-color: #ececec;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  vertical-align: central;
  font-size: 18px;
  user-select: none;
}
.currentQuestion-btn:hover{
  background-color: #6d6d6d;
}
.hide-btn{
  display: none;
}
.btn-group{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}